<!DOCTYPE html>

{% load staticfiles %}

<html>
<head>
    <title>{% block page_title %}{% endblock page_title %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block extrahead %}{% endblock extrahead %}

    <link rel="stylesheet" href="{% static 'bootstrap_marketing_theme/css/toolkit-startup.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/custom_css.css' %}">
    {% block extra_css %}{% endblock extra_css %}
</head>

<body>
    {% block navbar %}{% endblock navbar %}
    {% block content %}{% endblock content %}
    {% block footer %}{% endblock footer %}
    {% block modals %}{% endblock modals %}

    <script type="text/javascript" src="{% static 'js/jquery-v2-1-4.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'bootstrap_marketing_theme/js/toolkit.js' %}"></script>
    {% block extra_js %}{% endblock extra_js %}
</body>
</html>
