{% extends 'dashboard_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}

<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Opgelet!</h4>
      </div>
      <div class="modal-body">
        <p>Ben je zeker dat je de {{ item_list.0.get_verbose_name }} 'object.name' wil verwijderen?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Neen</button>
        <button type="button" class="btn btn-danger">Ja</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h5 class="panel-title pull-left">Alle {{ item_list.0.get_verbose_name_plural }}</h5>
					<div class="pull-right">
                        <a href="/products/{{ item_list.0.get_class_name | lower }}/new/" class="btn btn-default btn-sm">Voeg toe</a>
                	</div>
				</div>
                <table class="table table-hover">
                    <tbody>
                    	{% for item in item_list %}
                        <tr>
                            <td>
                                &emsp;<a href="#">{{ item.name }}</a>
                            </td>
                            <td class="text-right text-nowrap">
                            	<a class="btn btn-info btn-xs" href="/products/{{ item_list.0.get_class_name | lower }}/update/{{ item.slug }}" role="button">Wijzig</a>
                            	<a class="btn btn-danger btn-xs" href="/products/{{ item_list.0.get_class_name | lower}}/delete/{{ item.slug }}"role="button">
                            		<span class="glyphicon glyphicon-trash"></span>
                        		</a>
                            	<!--<a class="btn btn-danger btn-xs" data-toggle="modal" data-target="#myModal" role="button" href="{ url 'item_delete' item.slug }">
                            		<span class="glyphicon glyphicon-home"></span>
                        		</a>-->
                            </td>
                        </tr>
                        {% empty %}
                        	<tr>
                        		<td>
                        			Deze lijst is leeg, gelieve items toe te voegen
                        		</td>
                        	</tr>
                    	{% endfor %}
                    </tbody>
                </table>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<a href="#">Ga terug</a>
		</div>
	</div>
</div>
{% endblock content %}





