{% extends 'dashboard_layout.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container-fluid">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h5 class="panel-title pull-left">
					{% if object %}
						Wijzig {{ modelname }}
					{% else %}
						Nieuwe {{ modelname }}
					{% endif %}
					</h5>
				</div>
				<div class="panel-body">
					<div class="form-group">
						<form method="POST">
						{% csrf_token %}
							<ul class="list-unstyled">
							{{ form|crispy }}
							</ul>
							{% if object %}
							<input class="btn btn-default" type="submit" value="Bijwerken" />
							{% else %}
							<input class="btn btn-default" type="submit" value="Bewaren" />
							{% endif %}	
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<a href="{{request.META.HTTP_REFERER}}">Ga terug</a>
		</div>
	</div>
</div>
{% endblock content %}




