{% extends 'base.html' %}

{% load staticfiles i18n widget_tweaks %}

{% block title %}
    TCPS Dashboard
{% endblock title %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/dashboardstyle.css' %}">
{% endblock extra_css %}

{% block navbar %}
    <nav class="navbar navbar-static-top navbar-inverse navbar-accounts">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-accounts">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <span class="navbar-brand">TCPS</span>
            </div>
            <div class="collapse navbar-collapse nav-accounts">
                <ul class="nav navbar-nav navbar-right">
                    <li id="welcome"><span>{% trans "Welcome" %} <em>{{ user.get_full_name|default:request.user.email }}</em></span></li>
                    <li><a href="{{ homepage_url }}"><i class="glyphicon glyphicon-home"></i> {% trans "Return to site" %}</a></li>
                    <li><a href="url 'customer:summary' "><i class="glyphicon glyphicon-user"></i> {% trans "Account" %}</a></li>
                    <li><a href="{% url 'logout' %}"><i class="glyphicon glyphicon-log-out"></i> {% trans "Log out" %}</a></li>
                </ul>
            </div>
        </div><!-- /navbar-inner -->
    </nav><!-- /navbar -->
    <nav class="navbar navbar-static-top navbar-inverse main-navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".nav-primary">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <div class="collapse navbar-collapse nav-primary">
            <ul class="nav navbar-nav">
                <li>
                    <a href="/products/dashboard/">
                        <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Dashboard
                    </a>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role-"button" aria-expanded="false">
                        <span class="glyphicon glyphicon-list-alt " aria-hidden="true"></span> Catalogus<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'category-list' %}">
                                Categorieën
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'subcategory-list' %}">
                                Subcategorieën
                            </a>
                        </li>                        <li>
                            <a href="{% url 'supplier-list' %}">
                                Leverancier
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'product-list' %}">
                                Producten
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'productphoto-list' %}">
                                Product afbeeldingen
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role-"button" aria-expanded="false">
                        <span class="glyphicon glyphicon-user" aria-hidden="true"></span> Accounts<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'user-list' %}">
                                Users
                            </a>
                        </li>
                        <li>
                            <a href="{{ subitem.url }}">
                                Brands
                            </a>
                        </li>
                        <li>
                            <a href="{{ subitem.url }}">
                                Products
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </nav>
{% endblock navbar %}
{% block content %}{% endblock content %}