<div class="block block-inverse app-block">
    <div class="container">
        <div class="row">
            <div class="col-sm-5 m-b-md">
                <ul class="list-unstyled list-spaced">
                    <li class="m-b">
                        <h6 class="text-uppercase">Over TCPS</h6>
                    </li>
                    <li class="text-muted">
                        T.C.P.S. staat al 17 jaar voor de verkoop en de technische ondersteuning van kwaliteitsproducten, waarbij we de persoonlijke relatie tussen de eindgebruiker en ons bedrijf hoog in het vaandel dragen.
                    </li>
                </ul>
            </div>
            <div class="col-sm-2 col-sm-offset-1 m-b-md">
                <ul class="list-unstyled list-spaced">
                    <li class="m-b"><h6 class="text-uppercase">Producten</h6></li>
                    <li class="text-muted">Diepvriezers</li>
                    <li class="text-muted">Koelkasten</li>
                    <li class="text-muted">Incubators</li>
                    <li class="text-muted">Veiligheidskabinetten</li>
                    <li class="text-muted">Vriesdroog systemen</li>
                    <li class="text-muted">Vacuum technologie</li>
                    <li class="text-muted">Klimaatkasten</li>
                    <li class="text-muted">Handschoenkasten</li>
                    <li class="text-muted">Sterilisatie</li>  
                </ul>
            </div>
            <div class="col-sm-2 m-b-md">
                <ul class="list-unstyled list-spaced">
                    <li class="m-b">
                        <h6 class="text-uppercase">Diensten</h6>
                    </li>
                    <li class="text-muted">Dienst na verkoop</li>
                    <li class="text-muted">Vakkundig maatwerk</li>
                    <li class="text-muted">Verhuur van materiaal</li>
                    <li class="text-muted">Uitvoeren van onderhoud</li>
                </ul>
            </div>
            <div class="col-sm-2 m-b-md">
                <ul class="list-unstyled list-spaced">
                    <li class="m-b">
                        <h6 class="text-uppercase">Extra</h6>
                    </li>
                    <li class="text-muted">In de pers</li>
                    <li class="text-muted">Verkoopsvoorwaarden</li>
                </ul>
            </div>
        </div>
    </div>
</div>