{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block extrahead %}
    <link rel="prefetch" href="{% static 'images/zoom.png' %}">
{% endblock extrahead %}

{% block extra_css %}
    <!--<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">-->
    <!--<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">-->
    <!--<link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,600,300,200&subset=latin,latin-ext' rel='stylesheet' type='text/css'>-->
{% endblock extra_css %}

{% block navbar %}{% endblock navbar %}
{% block content %}
    
{% endblock content %}
{% block footer %}
    <footer>
        <div class="block block-inverse app-block">
            <div class="container">
                <div class="row">
                    <div class="col-sm-5 m-b-md">
                        <ul class="list-unstyled list-spaced">
                            <li class="m-b"><h6 class="text-uppercase">TCPS</h6></li>
                            <li class="text-muted">
                            We’ve been working on Go Analytics for the better part of a decade and are super proud of what we’ve created. If you’d like to learn more, or are interested in a job, contact us anytime at <a href="mailto: themes@getbootstrap.com">info@tcps.be</a>.
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-2 col-sm-offset-1 m-b-md">
                        <ul class="list-unstyled list-spaced">
                            <li class="m-b"><h6 class="text-uppercase">Product</h6></li>
                            <li class="text-muted">Features</li>
                            <li class="text-muted">Examples</li>
                            <li class="text-muted">Tour</li>
                            <li class="text-muted">Gallery</li>
                        </ul>
                    </div>
                    <div class="col-sm-2 m-b-md">
                        <ul class="list-unstyled list-spaced">
                            <li class="m-b"><h6 class="text-uppercase">Apis</h6></li>
                            <li class="text-muted">Rich data</li>
                            <li class="text-muted">Simple data</li>
                            <li class="text-muted">Real time</li>
                            <li class="text-muted">Social</li>
                        </ul>
                    </div>
                    <div class="col-sm-2 m-b-md">
                        <ul class="list-unstyled list-spaced">
                            <li class="m-b"><h6 class="text-uppercase">Legal</h6></li>
                            <li class="text-muted">Terms</li>
                            <li class="text-muted">Legal</li>
                            <li class="text-muted">Privacy</li>
                            <li class="text-muted">License</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}
{% block modals %}{% endblock modals %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toolkit.min.js' %}"></script>
    <!--<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>-->
    <!--<script type="text/javascript" src="{% static 'js/html5shiv.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery-migrate-1.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/jquery.easing.1.3.js' %}"></script>
    <script type="text/javascript" src="{% static 'fancybox/jquery.fancybox.pack-v=2.1.5.js' %}"></script>-->

        <!-- fancybox init -->
    <script>
    /*$(document).ready(function(e) {
        var lis = $('.nav > li');
        menu_focus( lis[0], 1 );
        
        $(".fancybox").fancybox({
            padding: 10,
            helpers: {
                overlay: {
                    locked: false
                }
            }
        });
    });*/
    </script>
{% endblock extra_js %}
