{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block extrahead %}
    <link rel="prefetch" href="{% static 'images/zoom.png' %}">
{% endblock extrahead %}

{% block extra_css %}
{% endblock extra_css %}

{% block content %}
    
{% endblock content %}

{% block footer %}
    {% include 'footer.html' %}
{% endblock footer %}

{% block modals %}{% endblock modals %}
{% block extra_js %}
    <script type="text/javascript" src="{% static 'js/jquery-1.10.2.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/toolkit.min.js' %}"></script>
{% endblock extra_js %}
