<div class="modal fade" id="myModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Opgelet!</h4>
      </div>
      <div class="modal-body">
        <p>Ben je zeker dat je de {{ item_list.0.get_verbose_name }} 'object.name' wil verwijderen? - model_window_delete.html</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal">Neen</button>
        <button type="button" class="btn btn-danger">Ja</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->