{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/stylep.css' %}">

    <!-- Owl Carousel stylesheets -->
	<!--<link rel="stylesheet" href="{% static 'owl-carousel/owl.carousel.css' %}">--><!-- Important Owl stylesheet -->
	<!--<link rel="stylesheet" href="{% static 'owl-carousel/owl.theme.css' %}">--><!-- Default Theme -->

	<!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.css" async>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.theme.min.css" async>-->

	<link rel="stylesheet" href="{% static 'tagsort/tagsort.min.css' %}">


{% endblock extra_css %}

{% block navbar %}
    <a class="navbar-brand hidden-xs" href="#" title="Herladen van de TCPS website"><img src="{% static 'images/logo5.png' %}"></a>
    <a class="home" href="index.html" title="Terug naar homepage"><span class="icon-2x icon-home pull-right"></span> </a>
    <div class="navbar navbar-fixed-top" data-activeslide="1">
        <div class="container">
            <!-- .navbar-toggle is used as the toggle for collapsed navbar content -->
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <div class="nav-collapse collapse navbar-responsive-collapse">
                <ul class="nav row">
                    <li class="col-12 col-sm-2 pull-right"><a href="#"><span class="icon-2x icon-home pull-right"></span> <span class="text pull-right">HOME</span></a></li>
                </ul>
                <div class="row">
                    <div class="col-sm-2 active-menu"></div>
                </div>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
    </div><!-- /.navbar -->
{% endblock navbar %}

{% block content %}
	<div class="container" style="margin-top: 60px;">
		<div class="row">
			<!-- Alle hoofdcategorieën --> 
			<div class="col-10 col-offset-1">
			{% if categories %}
				{% for category in categories %}
				<!--<button class="btn btn-info category" type="button" data-toggle="button">{{ category }}</button>-->
				<a class="btn btn-info category" href="{% url 'tagview' %}?selected={{ category|lower }}">{{ category }}</a>
				{% endfor %}
			{% else %}
			{% endif %}
			</div>
			<div class="col-10 col-offset-1">
			{% if subcategories %}
				{% for subcategory in subcategories %}
				<button class="btn btn-warning" type="button" data-toggle="button">{{ subcategory }}</button>
				{% endfor %}
			{% endif %}
			</div>
			<div class="col-10 col-offset-1">
			{% if suppliers %}
				{% for supplier in suppliers %}
				<button class="btn btn-danger" type="button" data-toggle="button">{{ supplier }}</button>
				{% endfor %}
			{% endif %}
			</div>
			<div class="col-10 col-offset-1">	
				<div class="tagsort-tags-container">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-10 col-offset-1">
				<div class="row">
				{% for product in product_list %}
					<div class="col-3 item" data-item-tags="{{ product.supplier }}, {{ product.subcategory }}, {{ product.subcategory.parent_category }}">
						<div class="panel panel-info">
							<div class="panel-heading">
								<h2 class="panel-title">{{ product.name }}</h2>
							</div>
							<div class="panel-body">
								<p>
									Hier komt de inhoud
								</p>
							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
		</div>
	</div>
{% endblock content %}

{% block modals %}
	<div class="modal fade" id="modal" role="dialog" aria-hidden="true">
	</div>
{% endblock modals %}

{% block extra_js %}
	{{ block.super }}
	<script src="{% static 'js/modals.js' %}" defer></script> <!-- Ajax calls to Django backend -->
	<script src="{% static 'js/application.js' %}" defer></script>
	<!--<script src="{% static 'owl-carousel/owl.carousel.min.js' %}" async></script> --><!-- Owl Carousel -->
	<!--<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/owl-carousel/1.3.3/owl.carousel.min.js" defer></script>-->
	<script type="text/javascript" src="{% static 'tagsort/tagsort_edit.js' %}"></script>


	<script type="text/javascript">
		$('div.tagsort-tags-container').tagSort({
  			selector:'.item'
		});
	</script>
{% endblock extra_js %}

