{% extends 'layout.html' %}

{% load staticfiles %}

{% block extra_css %}
	<link rel="stylesheet" href="{% static 'bootstrap_marketing/toolkit-startup.min.css' %}">
{% endblock extra_css %}


{% block content %}
<div class="container">
	<div class="callout">
	  	<div class="callout-content">
	  		<input type="text">
	    	<strong>Explore this thing.</strong> Learn more about this thing.
	  	</div>
	  	<div class="callout-secondary">
	    	<button class="btn btn-sm btn-info">Get started</button>
	  	</div>
	</div>
	<div clas="row">
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Titel</h3>
				</div>
				<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Interieur_overzicht_lege_ruimte_met_balkenplafond_-_Groessen_-_20323903_-_RCE.jpg">
				<div class="panel-body">
					Inhoud
					<hr>
					<div class="checkbox custom-control custom-checkbox">
						<label>
							<input type="checkbox">
							<span class="custom-control-indicator"></span>
							Offerte aanvraag?
						</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="panel panel-bold panel-info">
      			<div class="panel-body">
        			<h3 class="m-y-0">Rhianna Loud</h3>
      			</div>
      			<img class="img-rounded img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Interieur_overzicht_lege_ruimte_met_balkenplafond_-_Groessen_-_20323903_-_RCE.jpg">
      			<div class="panel-body p-b-0">
      				<p>Released on Dropp 6 weeks early</p>
        			<hr>
        			<p>Rihanna was the first artist to reach out to Dropp to coordinate her leak. We knew it was going to be the largest unofficial album drop in history. We doubled server capacity and made a shit ton of coffee.</p>
      			</div>
    		</div>
    	</div>
    	<div class="col-md-3 col-sm-4 col-xs-6">
    		<div class="thumbnail">
    			<img class="img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Interieur_overzicht_lege_ruimte_met_balkenplafond_-_Groessen_-_20323903_-_RCE.jpg">
    			<div class="caption">
    				<h3 class="info">Title</h3>
    				<p>
    					Nulla vitae elit libero, a pharetra augue. Donec ullamcorper nulla non metus auctor fringilla.
    				</p>
    			</div>
    		</div>
		</div>
		<div class="col-md-3 col-sm-4 col-xs-6">
			<div class="panel panel-info">
				<div class="panel-heading">
					<h3 class="panel-title">Titel</h3>
				</div>
				<img class="img-responsive" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Interieur_overzicht_lege_ruimte_met_balkenplafond_-_Groessen_-_20323903_-_RCE.jpg">
				<div class="panel-body">
					<img class="img-responsive img-rounded" src="https://upload.wikimedia.org/wikipedia/commons/c/c3/Interieur_overzicht_lege_ruimte_met_balkenplafond_-_Groessen_-_20323903_-_RCE.jpg">
					Inhoud
					<div class="checkbox custom-control custom-checkbox">
						<label>
						<input type="checkbox">
						<span class="custom-control-indicator"></span>test
						</label>
					</div>
					<hr>

					<div class="checkbox custom-control custom-checkbox">
						<label>
							<input type="checkbox">
							<span class="custom-control-indicator"></span>
							Offerte aanvraag?
						</label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}




